<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Arny&apos;s App"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelaytiveLayout"
        tools:targetApi="31">
        <activity android:name=".Controller.Intent_Child"/>
        <activity android:name=".Controller.Intent_Parent"/>
        <activity android:name=".Controller.Spinner2_Act" />
        <activity android:name=".Controller.GridView_Act" />
        <activity android:name=".Controller.AutoComplete_Act" />
        <activity android:name=".Controller.ThongTinSV_Act" />
        <activity android:name=".Controller.Spinner_Act" />
        <activity android:name=".Controller.ListView_Act" />
        <activity android:name=".Controller.HoaDon_Act" />
        <activity android:name=".Controller.Relative_Act" />
        <activity android:name=".Controller.ToastCheckboxRadio_Act" />
        <activity
            android:name=".Controller.ThongTinCaNhan_Act"
            android:label="Thông tin cá nhân" />
        <activity
            android:name=".Controller.BMI_Act"
            android:label="BMI" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>